{% load static %}

<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-secondary text-uppercase">Stay Updated</h6>
      <h1 class="mb-5">Our Blogs</h1>
    </div>

    <div class="owl-carousel owl-theme">
      
      <div class="item wow fadeInUp" data-wow-delay="0.3s">
        <div class="price-item">
          <!-- <div class="border-bottom p-4 mb-4">
          </div> -->
          <div class="p-4 pt-0">
            <h5 class="text-primary mb-1">10/12/2024</h5>
            <h4>My Journey as a Writer</h4>
            <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="" />
          </div>
            <p>
              Honestly, I have no idea how he started. I just needed to write
              this a sample for this section. It looks good, don't it?
            </p>
            <a class="btn-slide mt-2" href=""
              ><i class="fa fa-arrow-right"></i><span>Read</span></a
            >
          </div>
        </div>
      </div>

      <div class="item wow fadeInUp" data-wow-delay="0.3s">
        <div class="price-item">
          <!-- <div class="border-bottom p-4 mb-4">
          </div> -->
          <div class="p-4 pt-0">
            <h5 class="text-primary mb-1">11/12/2024</h5>
            <h4>The Readers Notebook</h4>
            <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
          </div>
            <p>
              Honestly, I have no idea how he started. I just needed to write
              this a sample for this section. It looks good, don't it?
            </p>
            <a class="btn-slide mt-2" href=""
              ><i class="fa fa-arrow-right"></i><span>Read</span></a
            >
          </div>
        </div>
      </div>

      <div class="item wow fadeInUp" data-wow-delay="0.3s">
        <div class="price-item">
          <!-- <div class="border-bottom p-4 mb-4">
          </div> -->
          <div class="p-4 pt-0">
            <h5 class="text-primary mb-1">12/12/2024</h5>
            <h4>How Okinba Started as a Writer</h4>
            <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
          </div>
            <p>
              Honestly, I have no idea how he started. I just needed to write
              this a sample for this section. It looks good, don't it?
            </p>
            <a class="btn-slide mt-2" href=""
              ><i class="fa fa-arrow-right"></i><span>Read</span></a
            >
          </div>
        </div>
      </div>

    </div>
  </div>
</div>