{% load static %} {% block style %}
<link href="{% static 'css/categories.css' %}" rel="stylesheet" />
{% endblock style %}

<!-- Portfolio Section -->
<section class="section bg-custom-gray" id="portfolio">
  <div class="container">
    <h1 class="mb-5"><span class="text-primary">Browse By</span> Category</h1>
    <div class="portfolio">
      <div class="filters">
        <a href="#" data-filter=".new" class="active"> New </a>
        <a href="#" data-filter=".fiction"> Fiction </a>
        <a href="#" data-filter=".non_fiction"> Non-Fiction </a>
        <a href="#" data-filter=".kids"> Kids </a>
        <a href="#" data-filter=".adventure"> Adventure </a>
      </div>
      <div class="portfolio-container">
        {% for book in books %}
        <div
          class="col-md-6 col-lg-4 new {{ book.category }}"
        >
          <div class="portfolio-item">
            <img
              src="{{ book.book_cover.url }}"
              class="img-fluid"
              alt="{{ book.title }}"
            />
            <div class="content-holder">
              <div class="text-holder">
                <h6 class="title">{{ book.title }}</h6>
                <a href="" class="subtitle"
                  ><i class="fa fa-info-circle fa-2x text-dark"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- <div class="col-md-6 col-lg-4 non_fiction new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/web-1.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/web-1.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 non_fiction new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/web-2.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/web-2.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 advertising new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/advertising-2.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/advertising-2.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">ADVERSTISING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 non_fiction">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/web-4.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/web-4.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 fiction">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/advertising-1.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/advertising-1.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">ADVERSITING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 non_fiction new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/web-3.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/web-3.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 fiction new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/advertising-3.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/advertising-3.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">ADVERSITING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 fiction new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/advertising-4.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/advertising-4.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">ADVERTISING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 adventure new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/branding-1.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/branding-1.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 adventure">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/branding-2.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/branding-2.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 adventure new">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/branding-3.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/branding-3.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 adventure">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/branding-4.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/branding-4.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 adventure">
          <div class="portfolio-item">
            <img
              src="{% static 'assets/imgs/branding-5.jpg' %}"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a
                class="img-popup"
                href="{% static 'assets/imgs/branding-5.jpg' %}"
              ></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End of portfolio section -->
