{% extends "base.html" %}
{% load static %}
{% block content %}
      <div class="container-fluid overflow-hidden py-5 px-lg-0">

		<!-- Row One Start -->
        <div class="container contact-page py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
				
				<!-- Banner slider -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Banner Slider</h6>
                    <h1 class="mb-4">Create Banner Slider</h1>
                    <p class="mb-4">Create the Landing page banner slider here.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
								
								<!-- Title -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                                        <label for="title">Title</label>
                                    </div>
                                </div>

								<!-- Subtitle -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="subtitle" class="form-control" placeholder="Subtitle" id="subtitle" style="height: 100px"></textarea>
                                        <label for="subtitle">Subtitle</label>
                                    </div>
                                </div>

								<!-- Button One -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="button_one" class="form-control" id="button_one" placeholder="Button One">
                                        <label for="button_one">Button One</label>
                                    </div>
                                </div>

								<!-- Button Two -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="button_two" class="form-control" id="button_two" placeholder="Button Two">
                                        <label for="button_two">Button Two</label>
                                    </div>
                                </div>

								<!-- Image -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="file" name="banner_img" accept="image/*" class="form-control" id="banner_img" placeholder="Banner Image">
                                        <label for="banner_img">Banner Image</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Add Banner</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

				<!-- Book -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Book</h6>
                    <h1 class="mb-4">Add Book</h1>
                    <p class="mb-4">Add Books to the platform here.</a>.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">

								<!-- Title -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Book Title">
                                        <label for="title">Title</label>
                                    </div>
                                </div>

								<!-- Author -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="author" class="form-control" id="author" placeholder="Author">
                                        <label for="author">Author</label>
                                    </div>
                                </div>

								<!-- Category -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="category" class="form-control" id="category" placeholder="Category">
                                        <label for="category">Category</label>
                                    </div>
                                </div>

								<!-- Pages -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="pages" class="form-control" id="pages" placeholder="How Many Pages">
                                        <label for="pages">How Many Pages</label>
                                    </div>
                                </div>

								<!-- Year Published -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="year_published" class="form-control" id="year_published" placeholder="Year Published">
                                        <label for="year_published">Year Published</label>
                                    </div>
                                </div>

								<!-- Book Type -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="book_type" class="form-control" id="book_type" placeholder="Book Type">
                                        <label for="book_type">Book Type</label>
                                    </div>
                                </div>

								<!-- Book Cover -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="file" name="book_cover" accept="image/*" class="form-control" id="book_cover" placeholder="Book Cover">
                                        <label for="book_cover">Book Cover</label>
                                    </div>
                                </div>

								<!-- Book Description -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="description" class="form-control" placeholder="Book Description" id="description" style="height: 100px"></textarea>
                                        <label for="description">Book Description</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Add Book</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
			</div>
        </div>
		<!-- Row One End -->

		<!-- Row Two -->
        <div class="container contact-page py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
				
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Get In Touch</h6>
                    <h1 class="mb-4">Contact For Any Query</h1>
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Get In Touch</h6>
                    <h1 class="mb-4">Contact For Any Query</h1>
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
			</div>
        </div>
		<!-- Row Two End -->
    </div>
{% endblock content %}