{% extends "base.html" %}
{% load static %}
{% block content %}
      <div class="container-fluid overflow-hidden py-5 px-lg-0">

		<!-- Row One Start -->
        <div class="container contact-page py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
				
				<!-- Banner slider -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Banner Slider</h6>
                    <h1 class="mb-4">Create Banner Slider</h1>
                    <p class="mb-4">Create the Landing page banner slider here.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
								
								<!-- Title -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                                        <label for="title">Title</label>
                                    </div>
                                </div>

								<!-- Subtitle -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="subtitle" class="form-control" placeholder="Subtitle" id="subtitle" style="height: 100px"></textarea>
                                        <label for="subtitle">Subtitle</label>
                                    </div>
                                </div>

								<!-- Button One -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="button_one" class="form-control" id="button_one" placeholder="Button One">
                                        <label for="button_one">Button One</label>
                                    </div>
                                </div>

								<!-- Button Two -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="button_two" class="form-control" id="button_two" placeholder="Button Two">
                                        <label for="button_two">Button Two</label>
                                    </div>
                                </div>

								<!-- Image -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="file" name="banner_img" accept="image/*" class="form-control" id="banner_img" placeholder="Banner Image">
                                        <label for="banner_img">Banner Image</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Add Banner</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

				<!-- Book -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Book</h6>
                    <h1 class="mb-4">Add Book</h1>
                    <p class="mb-4">Add Books to the platform here.</a>.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">

								<!-- Title -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Book Title">
                                        <label for="title">Title</label>
                                    </div>
                                </div>

								<!-- Author -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" name="author" class="form-control" id="author" placeholder="Author">
                                        <label for="author">Author</label>
                                    </div>
                                </div>

								<!-- Category -->
                                <!-- <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="category" class="form-control" id="category" placeholder="Category">
                                        <label for="category">Category</label>
                                    </div>
                                </div> -->

								<!-- Categories -->
								<div class="col-12 col-sm-6">
                                    <select class="form-select border-0" name="category" style="height: 55px;">
                                        <option selected>Select a Category</option>
                                        <option value="fiction">Fiction</option>
                                        <option value="non_fiction">Non-Fiction</option>
                                        <option value="adventure">Adventure</option>
                                        <option value="kids">Kids</option>
                                        <option value="technology">Technology</option>
                                        <option value="other">Others</option>
                                    </select>
                                </div>

								<!-- Pages -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="pages" class="form-control" id="pages" placeholder="How Many Pages">
                                        <label for="pages">How Many Pages</label>
                                    </div>
                                </div>

								<!-- Year Published -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="year_published" class="form-control" id="year_published" placeholder="Year Published">
                                        <label for="year_published">Year Published</label>
                                    </div>
                                </div>

								<!-- Book Type -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" name="book_type" class="form-control" id="book_type" placeholder="Book Type">
                                        <label for="book_type">Book Type</label>
                                    </div>
                                </div>

								<!-- Book Cover -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="file" name="book_cover" accept="image/*" class="form-control" id="book_cover" placeholder="Book Cover">
                                        <label for="book_cover">Book Cover</label>
                                    </div>
                                </div>

								<!-- Book Description -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="description" class="form-control" placeholder="Book Description" id="description" style="height: 100px"></textarea>
                                        <label for="description">Book Description</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Add Book</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
			</div>
        </div>
		<!-- Row One End -->

		<!-- Row Two -->
        <div class="container contact-page py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
				
                <!-- Blog -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Blog</h6>
                    <h1 class="mb-4">Create a Blog</h1>
                    <p class="mb-4">Add a Blog to the platform.</a>.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
                                <!-- Title -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Blog Title">
                                        <label for="title">Blog Title</label>
                                    </div>
                                </div>

                                <!-- Body -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="file" accept="image/*" name="blog_img" class="form-control" id="blog_img" placeholder="Blog Body">
                                        <label for="blog_img">Blog Image</label>
                                    </div>
                                </div>

                                <!-- blog Image -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="blog_body" class="form-control" placeholder="Blog Body" id="blog_body" style="height: 100px"></textarea>
                                        <label for="blog_body">Blog Body</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Add Blog</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Event -->
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Event</h6>
                    <h1 class="mb-4">Add Event to the platform.</h1>
                    <p class="mb-4">Add Events to the platform.</p>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">

                                <!-- Event Title -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Event Title">
                                        <label for="title">Event Title</label>
                                    </div>
                                </div>

                                <!-- Event Date -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="event_date" class="form-control" id="event_date" placeholder="Event Date">
                                        <label for="event_date">Event Date</label>
                                    </div>
                                </div>

                                <!-- Event Time -->
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="time" name="event_time" class="form-control" id="event_time" placeholder="Event Time">
                                        <label for="event_time">Event Time</label>
                                    </div>
                                </div>

                                <!-- Event Image -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="file" name="event_img" accept="image/*" class="form-control" id="event_img" placeholder="Event Image">
                                        <label for="event_img">Event Image</label>
                                    </div>
                                </div>

                                <!-- Event Description -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="description" class="form-control" placeholder="Event Description" id="description" style="height: 100px"></textarea>
                                        <label for="description">Event Description</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Create Event</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
			</div>
        </div>
		<!-- Row Two End -->
    </div>
{% endblock content %}